<h1>Burgers!</h1>

<h2>Ready to Eat!</h2>

<ul>
    {{#each burgers}}
    {{#unless eaten}}
    {{> burgers/ready-block}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Eaten. :&lpar;</h2>

<ul>
    {{#each burgers}}
    {{#if eaten}}
    {{> burgers/eaten-block}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <textarea type="text" id="nameEntry" name="name"></textarea>
        <label for="nameEntry">Enter a burger you want to eat, then click the "Submit" button.</label>
    </div>
    <button type="submit">Submit</button>
</form>