<div class="container">
    <div class="row mx-auto">
        <div class="col-sm">
            <p id="ready" class="p-3 mb-2 bg-white text-dark text-center">
                {{id}}. &nbsp;{{name}}

            </p>
        </div>
        <div id="eatButton" class="col-sm w-25 p-3">
            <button class="devour-it float-left" data-id="{{id}}">Eat it!</button>
        </div>
    </div>
</div>